.shop-container{
    display: grid;
    grid-template-columns: 10fr 1fr;
}
.products-container{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}

.cart-container{
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: Add some shadow */
    background: #FFE0B3;
    color: black;
    height: 300px;
    width: 200px;
    overflow: auto;
    position: sticky;
    top: 0px;
}